<div *screenLarge class="group">
    <div class="index">
        <span>{{ index }}</span>
    </div>
    <div>
        <img class="film-image" [src]="'/assets/' + film.name + '.jpg'" [alt]="film.name">
    </div>
    <div class="film-name">
        <span>{{ film.name }}</span>
    </div>
    <div class="imdb-index">
        <span>{{ film.imdbRating }}</span>
    </div>
</div>
<div *screenBelowLarge class="group-small">
    <div class="title-group-small">
        <div class="index-small">
            <span>{{ index }}</span>
        </div>
        <div class="film-name-small">
            <span>{{ film.name }}</span>
        </div>
    </div>
    <div>
        <img class="film-image-small" [src]="'/assets/' + film.name + '.jpg'" [alt]="film.name">
    </div>

    <div class="imdb-index-small">
        <span>{{ film.imdbRating }}</span>
    </div>
</div>